body {
	background-image: url(image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
}

h1 {
	margin-bottom: 600px
	color: orange;
}


header.startup {
	margin-top: 600px;
	color: orange;
}

.btn-primary:hover {
	background-color: black;
}